@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    color: rgba(27,23,37,0.8);
}

h1,h2,h3,p{
  color: rgb(27,23,37);
}

.top-wrapper {
    background-image: url("https://gucci0324.github.io/gucciportfolio.io/./image/ian-dooley-DJ7bWa-Gwks-unsplash.jpg");
    background-size: cover;
    height: 800px;
    margin: 0;
    padding: 0;
}

.list {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open .list {
    left: 0;
    opacity: 1;
  }
  .list .inner {
    padding: 25px;
  }
  .list .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  .list .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  .list .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    .list {
      left: -220px;
      width: 220px;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .open .toggle_btn {
    left: 330px;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
    width: 16px;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translate(-1px,4px) rotate(-45deg);
    transform: translate(-1px,4px) rotate(-45deg);
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translate(-1px,-4px) rotate(45deg);
    transform: translate(-1px,-4px) rotate(45deg);
  }
  @media screen and (max-width: 767px) {
    .open .toggle_btn {
      left: 250px;
    }
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  /*============
  main
  =============*/
  main {
    width: 100%;
    padding: 0;
    transition: all .5s;
  }
  .open main {
    margin-left: 300px;
  }
  main h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }

.heading h2 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    margin: 0;
    padding-top: 350px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}
.nav-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-container ul{
    display: flex;
    margin-top: 20px;
}

.nav-container a {
    text-decoration: none;
}

.nav-container a:hover {
    text-decoration: block;
}

.nav-container li {
  margin-right: 60px;
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  letter-spacing: 1px;
  padding-top: 5px;
}

.nav-container li:hover {
    color: rgba(27,23,37,1.0);
    border-bottom: 2px solid;
}

.fas {
    font-size: 25px;
    padding-top: 4px;
    padding-right: 12px;
    color: rgb(27,23,37);
}

.middle-wrapper {
    text-align: center;
}

.middle-container {
    margin-top: 250px;
}

.middle-container h2 {
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.middle-container img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    padding: 40px;
}

.profile {
    margin-bottom: 300px;
}

.user-card {
    font-size: 40px;
}

.profile h3 {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  border-bottom: 2px solid rgb(27,23,37);
  margin: 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.plofile p {
  font-family: 'Kosugi Maru', sans-serif;
  letter-spacing: 10px;
  margin-bottom: 5px;
}

.skill-wrapper {
    text-align: center;
}

.skill-card {
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 5px;
}

.skill-container h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid rgb(27,23,37);
    margin: 50px 60px;
    padding-bottom: 40px;
    letter-spacing: 1px;
}

.icons {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3,1fr);
    grid-row: 3;
    align-items: center;
    margin: 100px 300px 100px 300px;
}

.icon i{
    font-size: 150px;
}

.icon p {
    margin-bottom: 60px;
}

.services-wrapper {
    background-color: #9283be;
    height: 1300px;
}
.services-container {
    text-align: center;
    padding-top: 50px;
}

.service-card {
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 5px;
    color: white;
}

.services-container h3{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid white;
    margin: 50px 60px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    color: white;
}

.s-i {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 40px;
    padding: 50px;
    background-color: white;
}

.s-m {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 40px;
    padding: 50px 60px 50px 60px;
    background-color: white;
}

.services {
    display: flex;
    flex-direction: column;
}

.service {
    margin-top: 50px;
    margin-bottom: 100px;
}
.service h4 {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 30px 0;
}

.service p {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 0 200px;
    color: white;
    line-height: 30px;
}

.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

.fadein p {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 55px;

}

.work-container {
    text-align: center;
    margin-bottom: 60px;
}

.work-card {
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 5px;
}
.work-container h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid rgb(27,23,37);
    margin: 0 60px 50px 60px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    padding-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.item {
    margin-bottom: 10%;
}
.container img {
    width: 80%;
    height: 100%;
}

.contact-wrapper {
    background-color: #dddddd;
    height: 800px;
}
.contact-container {
    text-align: center;
}

.contact-card {
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 5px;
}

.contact-container h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid rgb(27,23,37);
    margin: 0 60px 50px 60px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    padding-top: 50px;
}

.contact {
    margin-bottom: 40px; 
}

.contact input {
    border: none;
    border-radius: 4px;
    height: 55px;
    width: 60%;
    padding-left: 8px;
}

.contact textarea {
    border: none;
    border-radius: 4px;
    height: 100px;
    width: 60%;
    padding-top: 8px;
    padding-left: 8px;
}

.btn {
    margin-top: 40px;
    border-radius: 6px;
    height: 55px;
    width: 50%;
    background-color: #ffd700;
    box-shadow: 0 7px #deb520;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.btn:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

footer {
    background-color: #212529;
    color: white;
    height: 180px;
    text-align: center;
}

.footer-write p {
    margin: 0;
    color: white;
    letter-spacing: 2px;
    padding: 40px 0;
}

.footer-sns i {
    font-size: 30px;
    padding: 0 40px;
    cursor: pointer;
    color: white;
}

.insta:hover {
    color:  #e1306c ;
}

.twitter:hover {
    color: #1da1f2;
}

.main {
    text-align: center;
}

.thanks-message {
    font-size: 30px;
    margin: 80px 0 50px 0;
}

.display-contact {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 30px auto 50px auto;
    width: 70%;
    padding: 50px;
}

.form-title {
    font-size: 25px;
    padding: 30px;
}

.form-item {
    padding: 20px 0 10px 0;
}

.admit {
    margin-top: 10px;
    margin-bottom: 160px;
}

/* sp */
@media (max-width: 480px) {
    .top-wrapper {
        background-image: url("https://gucci0324.github.io/gucciportfolio.io/./image/ian-dooley-DJ7bWa-Gwks-unsplash.jpg");
        background-position: center ;
        height: 850px;
        margin: 0;
        padding: 0;
    }
    
    .list {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 300px;
        background: #ddd;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: all .5s;
        z-index: 3;
        opacity: 0;
      }
      .open .list {
        left: 0;
        opacity: 1;
      }
      .list .inner {
        padding: 25px;
      }
      .list .inner ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .list .inner ul li {
        position: relative;
        margin: 0;
        border-bottom: 1px solid #333;
      }
      .list .inner ul li a {
        display: block;
        color: #333;
        font-size: 14px;
        padding: 1em;
        text-decoration: none;
        transition-duration: 0.2s;
      }
      .list .inner ul li a:active {
        background: rgba(146, 131 , 190, 0.6);
      }
      @media screen and (max-width: 767px) {
        .list {
          left: -220px;
          width: 220px;
        }
      }
      
      .illust {
          text-align: center;
          margin-top: 200px;
          
      }
      .illust img {
          width: 60%;
          height: 150px;
          object-fit: center;
      }
      /*============.toggle_btn=============*/
      .toggle_btn {
        display: block;
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
      }
      .open .toggle_btn {
        left: 330px;
      }
      .toggle_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #deb520;
        border-radius: 4px;
        transition: all .5s;
      }
      .toggle_btn span:nth-child(1) {
        top: 4px;
      }
      .toggle_btn span:nth-child(2) {
        top: 14px;
      }
      .toggle_btn span:nth-child(3) {
        bottom: 4px;
      }
      .open .toggle_btn span {
        background-color: #deb520;
      }
      .open .toggle_btn {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
      .open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
        width: 16px;
      }
      .open .toggle_btn span:nth-child(1) {
        -webkit-transform: translate(-1px,4px) rotate(-45deg);
        transform: translate(-1px,4px) rotate(-45deg);
      }
      .open .toggle_btn span:nth-child(3) {
        -webkit-transform: translate(-1px,-4px) rotate(45deg);
        transform: translate(-1px,-4px) rotate(45deg);
      }
      @media screen and (max-width: 767px) {
        .open .toggle_btn {
          left: 250px;
        }
      }
      /*============
      #mask
      =============*/
      #mask {
        display: none;
        transition: all .5s;
      }
      .open #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .8;
        z-index: 2;
        cursor: pointer;
      }
      /*============
      main
      =============*/
      main {
        width: 100%;
        padding: 0;
        transition: all .5s;
      }
      .open main {
        margin-left: 300px;
      }
    .heading h2 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        margin: 0;
        padding-top: 80%;
        text-align: center;
        letter-spacing: 3px;
        color: white;
        line-height: 80px;

    }
    .nav-wrapper {
        display: none;
    }
    
    .middle-wrapper {
        text-align: center;
    }
    
    .middle-container {
        margin-top: 150px;
    }
    
    .middle-container h2 {
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
    }
    
    .middle-container img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        padding: 40px;
    }
    
    .profile {
        margin-bottom: 120px;
    }
    
    .user-card {
        font-size: 30px;
    }
    
    .profile h3 {
      font-family: 'Anton', sans-serif;
      font-size: 30px;
      border-bottom: 2px solid rgb(27,23,37);
      margin: 50px 60px;
      padding-bottom: 40px;
      letter-spacing: 1px;
    }
    
    .fadein p {
      font-family: 'Kosugi Maru', sans-serif;
      letter-spacing: 2px;
      margin: 0 50px 5px;
      font-size: 15px;
      line-height: 40px;

    }
    
    
    .skill-card {
        font-size: 30px;
        padding-top: 0;
        margin-bottom: 5px;
    }
    
    .skill-container h3 {
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        border-bottom: 2px solid rgb(27,23,37);
        margin: 50px 60px;
        padding-bottom: 40px;
        letter-spacing: 1px;
    }
    
    .icons {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2,1fr);
        grid-row: 1;
        align-items: center;
        margin: 0 auto;
    }
    
    .icon i{
        font-size: 100px;
    }
    
    .icon p {
        margin-bottom: 60px;
    }
    
    .services-wrapper {
        background-color: #9283be;
        height: 1300px;
    }
    .services-container {
        text-align: center;
        padding-top: 50px;
    }
    
    .service-card {
        font-size: 30px;
        padding-top: 0;
        margin-bottom: 5px;
        color: white;
    }
    
    .services-container h3{
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        border-bottom: 2px solid white;
        margin: 50px 60px;
        padding-bottom: 40px;
        letter-spacing: 1px;
        color: white;
    }
    
    .s-i {
        border: 1px solid white;
        border-radius: 50%;
        font-size: 40px;
        padding: 50px;
        background-color: white;
        margin-bottom: 30px;
    }
    
    .s-m {
        border: 1px solid white;
        border-radius: 50%;
        font-size: 40px;
        padding: 50px 60px 50px 60px;
        background-color: white;
        margin-bottom: 30px;
    }
    
    .services {
        display: flex;
        flex-direction: column;
    }
    
    .service {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .service h4 {
        color: white;
        margin-bottom: 20px;
    }
    
    .service p {
        text-align: center;
        display: inline-block;
        font-size: 15px;
        margin: 0 30px 0 30px;
        color: white;
    }
    
    .fadein {
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s;
        line-height: 25px;
    }
    
    .work-container {
        text-align: center;
        margin-bottom: 60px;
    }
    
    .work-card {
        font-size: 30px;
        padding-top: 0;
        margin-bottom: 5px;
    }
    .work-container h3 {
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        border-bottom: 2px solid rgb(27,23,37);
        margin: 0 60px 50px 60px;
        padding-bottom: 40px;
        letter-spacing: 1px;
        padding-top: 50px;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    
    .item {
        margin-bottom: 10%;
    }
    .container img {
        width: 80%;
        height: 100%;
    }
    
    .contact-wrapper {
        background-color: #dddddd;
        height: 800px;
    }
    .contact-container {
        text-align: center;
    }
    
    .contact-card {
        font-size: 30px;
        padding-top: 0;
        margin-bottom: 5px;
    }
    
    .contact-container h3 {
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        border-bottom: 2px solid rgb(27,23,37);
        margin: 0 60px 50px 60px;
        padding-bottom: 40px;
        letter-spacing: 1px;
        padding-top: 50px;
    }
    
    .contact {
        margin-bottom: 40px; 
    }
    
    .contact input {
        border: none;
        border-radius: 4px;
        height: 30px;
        width: 80%;
        padding-left: 8px;
    }
    
    .contact textarea {
        border: none;
        border-radius: 4px;
        height: 100px;
        width: 80%;
        padding-top: 8px;
        padding-left: 8px;
    }
    
    .btn {
        margin-top: 40px;
        border-radius: 6px;
        height: 40px;
        width: 60%;
        background-color: #ffd700;
        box-shadow: 0 7px #deb520;
        cursor: pointer;
        color: white;
        font-size: 10px;
    }
    
    .btn:active {
        box-shadow: none;
        position: relative;
        top: 7px;
    }
    
    footer {
        background-color: #212529;
        color: white;
        height: 180px;
        text-align: center;
    }
    
    .footer-write p {
        margin: 0;
        color: white;
        letter-spacing: 2px;
        padding: 40px 0;
        font-size: 14px;
    }
    
    .footer-sns i {
        font-size: 25px;
        padding: 0 40px;
        cursor: pointer;
        color: white;
    }
    
    .insta:hover {
        color:  #e1306c ;
    }
    
    .twitter:hover {
        color: #1da1f2;
    }
    
    .main {
        text-align: center;
    }
    
    .thanks-message {
        font-size: 15px;
        margin: 80px 10px 50px 10px;
    }
    
    .display-contact {
        border: 1px solid white;
        border-radius: 5px;
        background-color: #F5F5F5;
        margin: 30px auto 50px auto;
        width: 70%;
        padding: 50px;
    }
    
    .form-title {
        font-size: 12px;
        padding: 30px;
    }
    
    .form-item {
        padding: 20px 0 10px 0;
        font-size: 12px;
    }
    
    .admit {
        margin-top: 10px;
        margin-bottom: 80px;
    }
}
